<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tde.chapi">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:name=".CHapiApplication"
        android:supportsRtl="true"
        android:theme="@style/Theme.CHapi">
        <receiver android:name=".UI.Home.Reminder.Alarm.Notification"
            android:enabled="true" />
        <activity
            android:name=".UI.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.Home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.Login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>